* {
  margin: 0px;
  padding: 0px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  color: #263f70;
  font-weight: bold;
  font-size: 20px;
  margin: 30px;
}

input,
button {
  width: 400px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

input {
  background-color: #f2f5fa;
  border: none;
  color: #818181;
}

button {
  background-color: #4e71b5;
  border: none;
  color: white;
  margin: 25px 10px;
}

input::placeholder {
  padding: 7px;
}

#email-input {
  display: flex;
  position: relative;
}

#email-input > a {
  position: absolute;
  right: 18px;
  top: 17px;
  font-size: 11px;
  font-weight: bold;
  color: #0e1385;
}

#bottom {
  display: flex;
  font-size: 12px;
  margin: 3px;
}

#bottom > p {
  color: #818181;
}

#bottom > a {
  color: #474747;
  margin: 0px 5px;
  font-weight: bold;
}
